body {
    background-color: #121212; /* Color de fondo oscuro */
    color: #e0e0e0; /* Color de texto claro */
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    max-width: 400px;
    width: 100%;
    padding: 15px;
    margin: auto;
}

.form-login {
    background-color: #333; /* Fondo oscuro para formularios */
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada para contraste */
    color: #ffffff; /* Texto claro */
}

.form-login-heading {
    margin-bottom: 30px;
    text-align: center;
    color: #ffffff; /* Asegurando que el texto sea claro */
}

.add-product-form {
    background-color: #424242; /* Fondo oscuro para el formulario de agregar productos */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada para contraste */
    margin-bottom: 30px;
    color: #ffffff; /* Texto claro */
}

.add-product-form h4 {
    margin-bottom: 20px;
    color: #ffffff; /* Texto claro */
}

.table th,
.table td {
    vertical-align: middle;
    color: #ffffff; /* Texto claro para la tabla */
}

.table {
    border-collapse: collapse;
}

.table th {
    background-color: #555; /* Fondo oscuro para los encabezados de tabla */
}

.table {
    background-color: #333; /* Fondo oscuro para la tabla */
}

/* Estilos adicionales para elementos de formulario */
.form-control {
    background-color: #333333; /* Fondo de los campos de formulario */
    color: #ffffff; /* Color de texto para los campos de formulario */
    border: 1px solid #444; /* Borde para los campos de formulario */
}

.btn {
    background-color: #565656; /* Fondo para botones */
    color: #ffffff; /* Texto de botones */
    border: none; /* Opcional: elimina el borde de los botones si prefieres */
}

.btn:hover {
    background-color: #686868; /* Oscurece el botón al pasar el mouse */
}

/* Ajustes específicos para botones de acción */
.btn-primary {
    background-color: #007bff; /* Mantener el azul para botones primarios, ajusta según necesites */
}

.btn-danger {
    background-color: #dc3545; /* Mantener el rojo para botones de acciones peligrosas, ajusta según necesites */
}
